.search-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 83px;
    margin-bottom: 61px;
}

@media (max-width: 767px) {
    .search-filter {
        gap: 30px;
        flex-wrap: wrap;
    }
}

@media (max-width: 575px) {
    .search-filter {
        gap: 20px;
        margin-bottom: 20px;
    }
}