.about {
    &__title {
        text-align: center;
        padding-top: 80px;
    }
    &__descr {
        margin-top: 40px;
        width: 589px;
        display: block;
        margin: 0 auto 101px auto;
        text-align: center;
        font-weight: 400;
    }
}

@media (max-width: 767px) {
    .about {
        &__title {
            padding-top: 60px;
        }
        &__descr {
            margin-bottom: 60px;
            width: 450px;
        }
    }
}

@media (max-width: 575px) {
    .about {
        &__descr {
            width: 310px;
        }
    }
}