.product {
    &__wrapper {
        margin-top: 70px;
        display: flex;
        justify-content: center;
        gap: 89px;
    }
    &__title {
        text-align: center;
    }
    &__descr {
        margin-top: 25px;
        max-width: 346px;
        max-height: 232px;
        text-align: center;
    }
    &__line {
        display: block;
        margin: 60px auto 60px auto;
        width: 240px;
        border: 1px solid #000000;
    }
}

@media (max-width: 767px) {
    .product {
        &__wrapper {
            margin-top: 60px;
            flex-wrap: wrap;
            gap: 50px;
        }
        &__line {
            margin: 40px auto 40px auto;
        }
    }
}