.second-header {
    &__title {
        font-weight: bold;
        color: #FFFFFF;
        text-align: center;
        padding-bottom: 84px;
    }
}
.our-coffee {
    background: url('../../assets/images/img/second-bg.png') no-repeat 50%/cover;
}
.pleasure {
    background: url('../../assets/images/img/third-bg.png') no-repeat 50%/cover;
}