.goods {
    &__block {
        border-radius: 8px;
        box-shadow: 5px 5px 15px rgba(0,0,0, .25);
        cursor: pointer;
        padding: 35px 25px 16px 25px;
        &:hover {
            box-shadow: 5px 5px 35px rgba(0,0,0, .25);
            transition: .3s all;
        }
    }
    &__name {
        font-size: 13px;
        line-height: 20px;
        margin-top: 14px;
        text-align: right;
    }
    &__country {
        font-size: 14px;
        line-height: 20px;
        margin-top: 14px;
        text-align: right;
    }
    &__price {
        font-size: 14px;
        line-height: 20px;
        text-align: right;
    }
}

@media (max-width: 575px) {
    .goods {
        grid-template-columns: repeat(1, 220px);
        &_center {
            text-align: center;
        }
    }
}