.promo {
    &__title {
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        color: #fff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &__block {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 35px;
        span {
            width: 60px;
            border: 1px solid #FFFFFF;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        }
    }
    &__icon {
        padding-right: 25px;
        padding-left: 25px;
    }
    &__subtitle {
        text-align: center;
        color: #fff;
        font-size: 24px;
        line-height: 35px;
        font-weight: 700;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &__button {
        display: block;
        text-decoration: none;
        text-align: center;
        font-size: 14px;
        color: #fff;
        margin: 18px auto 0 auto;
        padding-top: 4px;
        width: 120px;
        height: 30px;
        border: 1px solid #FFFFFF;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 3px;
        background-color: transparent;
        &:hover {
            background-color: #fff;
            color: #000;
            transition: 0.3s all;
        }
    }
}