.navigation {
    font-size: 12px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &__menu {
        list-style-type: none;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }
    &__links {
        margin-right: 40px;
        &_black {
            color: #000;
        }
        &_white {
            color: #fff;
        }
        &:last-child {
            margin-right: 0;
        }
        a {
            text-decoration: none;
            display: flex;
            align-items: flex-end;
            &:hover {
                opacity: 0.7;
                transform: scale(1.05);
                transition: 0.3s all;
            }
        }
    }
}
